body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

#all-content{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

nav{
    margin: 0px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 90%;
}

#left-nav{
    padding-left: 30px;  
}

#left-nav h2{
    display: block;
    color: white;
    text-align: left;
    font-size: 1.75em;
}

#right-nav{
    padding-right: 30px;
}
  
#right-nav a{
    display: block;
    color: white;
    text-align: center;
    font-size: 1.25em;
    float: right;
    padding-left: 20px;
}

#header{
    color: brown;
    text-align: center;
    margin-top: 200px;
}

main{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.clear{
    clear: both;
}

#intro{
    margin-top: 100px;
}

#intro h2{
    text-align: center;
}

#intro p{
    padding: 20px 50px;
}

#all-eps{
    margin-top: 100px;
}

#ep-1{
    margin-top: 100px;
}

#video-1{
    width: 50%;
    margin-left: 50%;
    text-align: center;
}

#text-1{
    width: 50%;
    float: left;
}

#text-1 h2{
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
}

#text-1 p{
    padding: 20px 50px;
}

#ep-2{
    margin-top: 100px;
}

#video-2{
    width: 50%;
    margin-left: 50%;
    text-align: center;
}

#text-2{
    width: 50%;
    float: left;
}

#text-2 h2{
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
}

#text-2 p{
    padding: 20px 50px;
}

#ep-3{
    margin-top: 100px;
}

#video-3{
    width: 50%;
    margin-left: 50%;
    text-align: center;
}

#text-3{
    width: 50%;
    float: left;
}

#text-3 h2{
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
}

#text-3 p{
    padding: 20px 50px;
}

#contact{
    margin-top: 100px;
}

#contact h2{
    text-align: center;
}

#contact p{
    padding: 20px 50px;
}

footer{
    margin-top: 100px;
    background-color: #333;
}

footer p{
    color: #ffffff;
    text-align: center;
}